.git
.venv
__pycache__
.pytest_cache
frontend/node_modules
frontend/dist
.vscode
.idea
.env
data/raw
data/interim
data/external
data/processed/*.tif
data/processed/*.nc
data/processed/*.pth
data/processed/*.onnx
data/processed/avalanchevision.db
*.pyc
*.pyo
*.pyd
